$yellow: #ffe719;
$bg-lite: #3a7d83;
$blue-green:  #1f5458;

$btn-default-color:              $yellow;
$btn-default-bg:                 $blue-green;
$btn-default-border:             #000;

.btn-default{
  border: 2px solid #000 !important;
}
