.wooddividerfoot{
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlesssummer16/2x4.jpg);
  background-repeat: repeat;
  height: 25px;
  margin-top: 25px;
}
.footer{
  padding: 50px 0;
  background-color: #1f5458;
}
