<div class="container">
  <div class="row text-center">
    <div class="divider"></div>
    <div class="col-lg-10 col-lg-offset-1">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/entertowin.png">
    </div>
    <div class="col-lg-10 col-lg-offset-1">
      <div class="wooddivider2"></div>
    </div>
    <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-sm-push-6 col-xs-12">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/guitar.png">
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-sm-pull-6 col-xs-12">
      <div id="contest"></div>
    </div>
  </div>
</div>
