<div class="wooddividerfoot"></div>
<div class="text-center footer">
  <a href="https://www.facebook.com/warpedtour" target="_blank">
    <span class="fa-stack fa-lg">
      <i style="color: #ffe71a;" class="fa fa-circle fa-stack-2x"></i>
      <i id="facebook" style="color: #1f5458;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://twitter.com/vanswarpedtour" target="_blank">
    <span class="fa-stack fa-lg">
      <i style="color: #ffe71a;" class="fa fa-circle fa-stack-2x"></i>
      <i id="twitter" style="color: #1f5458;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://instagram.com/vanswarpedtour/" target="_blank">
    <span class="fa-stack fa-lg">
      <i style="color: #ffe71a;" class="fa fa-circle fa-stack-2x"></i>
      <i id="youtube" style="color: #1f5458;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="http://vanswarpedtour.com/" target="_blank">
    <img src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/warpedlogo.png" width="50">
  </a>
  <a href="http://fearlessrecords.com/" target="_blank">
    <img src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/fearlesslogo.jpg">
  </a>
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/legatorlogo.png">
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/LSTN.png">
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/tacobell.png">
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/ernieball.png">
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/sjc.png">
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/journeys.png">
  <img class="footer-logo full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/gklogo.png">
</div>
