<script type="text/javascript">window.submitted=false;</script>
<iframe name="hidden_iframe2" id="hidden_iframe2" style="display:none;"
  onload="if(window.submitted) {$('.ss-form').html('<a href=\'https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/jkcdlcjklasdhajkldhasjkldhasjklhasjkshl/fearlesssummersampler.zip\' download><div class=\'btn btn-success download\'><i class=\'fa fa-2x fa-cloud-download\'></i><span>&nbsp; Download</span></div></a>');ga('send', 'event',  'Download', 'Shown', 'Success');}"></iframe>


<div class="ss-form text-center"><form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1SIB1ol4Z6MpiAFjJWG0IEWqk5Yijg9rqLXLM98qhabc/formResponse" method="POST" id="ss-form2" target="hidden_iframe2" onsubmit="return validateForm2()"><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<div class="form-group">
<input type="text" name="entry.1887851980" value="" class="ss-q-short form-control" id="entry_1887851980" dir="auto" aria-label="Full Name  " title="" placeholder="Your Full Name">
</div>
<div class="error-message" id="2108778979_errorMessage"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<div class="form-group">
<input type="text" name="entry.1384809857" value="" class="ss-q-short form-control" id="entry_1384809857" dir="auto" aria-label="Email Address  " title=""placeholder="Your@email.address">
</div>
<div class="error-message" id="1153745909_errorMessage"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;394278081510801603&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="394278081510801603">

<div class="ss-item ss-navigate"><table id="navigation-table2"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit2" class="jfk-button jfk-button-action btn btn-success contest-btn">
</td>
</tr></tbody></table></div></ol></form></div>
