<div id="dates" class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="wooddivider2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/warpedlogo.png">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/tourdates.png">
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <ul>

          <li>
            <div>
              <span class="date"><strong>6/17 | Anchorage, AK</strong></span>
              <a href="http://www.ticketmaster.com/vans-warped-tour-anchorage-alaska-06-17-2015/event/0F004D8CDD5E2EEB?artistid=807329&majorcatid=10001&minorcatid=60" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/19 | Pomona, CA</strong></span>
              <a href="https://vanswarpedtour.frontgatetickets.com/event/016h6t3rzcv1ihyb" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/20 | Mountain View, CA</strong></span>
              <a href="http://vanswarpedtour.com/dates/san-francisco-ca-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/21 | Ventura, CA</strong></span>
              <a href="https://vanswarpedtour.frontgatetickets.com/event/nhc2mzxskzmvoq2s" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/23 | Mesa, AZ</strong></span>
              <a href="http://vanswarpedtour.com/dates/mesa-az-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/24 | Albuquerque, NM</strong></span>
              <a href="http://vanswarpedtour.com/dates/albuquerque-nm-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/25 | Oklahoma City, OK</strong></span>
              <a href="http://purchase.tickets.com/buy/TicketPurchase?agency=PTIX_PROMO5&orgid=31767&pid=7922181&mkt_code=FBE" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/26 | Houston, TX</strong></span>
              <a href="http://vanswarpedtour.com/dates/houston-tx-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/27 | Dallas, TX</strong></span>
              <a href="http://vanswarpedtour.com/dates/dallas-tx-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>6/28 | San Antonio, TX</strong></span>
              <a href="http://vanswarpedtour.com/dates/san-antonio-tx-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/01 | Nashville, TN</strong></span>
              <a href="http://vanswarpedtour.com/dates/nashville-tn-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/02 | Atlanta, GA</strong></span>
              <a href="http://vanswarpedtour.com/dates/atlanta-ga-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/03 | St. Petersburg, FL</strong></span>
              <a href="http://vanswarpedtour.com/dates/tampa-st-petersburg-fl-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/04 | West Palm Beach, FL</strong></span>
              <a href="http://vanswarpedtour.com/dates/miami-fl-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/05 | Orlando, FL</strong></span>
              <a href="http://wl.flavorus.com/event/Vans-Warped-Tour/276273?afflky=VansWarpedTour" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/06 | Jacksonville, FL</strong></span>
              <a href="http://vanswarpedtour.com/dates/jacksonville-fl-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/07 | Charlotte, NC</strong></span>
              <a href="http://vanswarpedtour.com/dates/charlotte-nc-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/08 | Virginia Beach, VA</strong></span>
              <a href="http://vanswarpedtour.com/dates/virginia-beach-va-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/09 | Pittsburgh, PA</strong></span>
              <a href="http://vanswarpedtour.com/dates/pittsburgh-pa-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/10 | Camden, NJ</strong></span>
              <a href="http://vanswarpedtour.com/dates/camden-nj-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/11 | Wantaugh, NY</strong></span>
              <a href="http://vanswarpedtour.com/dates/new-york-ny-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/12 | Hartford, CT</strong></span>
              <a href="http://vanswarpedtour.com/dates/hartford-ct-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/14 | Mansfield, MA</strong></span>
              <a href="http://vanswarpedtour.com/dates/boston-ma-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/15 | Darien Center, NY</strong></span>
              <a href="http://vanswarpedtour.com/dates/buffalo-ny-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/16 | Cincinnati, OH</strong></span>
              <a href="http://vanswarpedtour.com/dates/cincinnati-oh-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/17 | Toronto, ON</strong></span>
              <a href="http://vanswarpedtour.com/dates/toronto-on-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/18 | Columbia, MD</strong></span>
              <a href="http://vanswarpedtour.com/dates/washington-d-c-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/19 | Holmdel, NJ</strong></span>
              <a href="http://vanswarpedtour.com/dates/holmdel-nj-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/21 | Scranton, PA</strong></span>
              <a href="http://vanswarpedtour.com/dates/scranton-pa-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/23 | Cuyahoga Falls, OH</strong></span>
              <a href="http://vanswarpedtour.com/dates/cleveland-oh-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/24 | Detroit, MI</strong></span>
              <a href="http://vanswarpedtour.com/dates/detroit-mi-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/25 | Chicago, IL</strong></span>
              <a href="http://vanswarpedtour.com/dates/chicago-il-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/26 | Shakopee, MN</strong></span>
              <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=5478085&REFID=fbe" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/27 | Maryland Heights, MO</strong></span>
              <a href="http://vanswarpedtour.com/dates/st-louis-mo-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/28 | Milwaukee, WI</strong></span>
              <a href="http://vanswarpedtour.com/dates/milwaukee-wi-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/29 | Noblesville, IN</strong></span>
              <a href="http://vanswarpedtour.com/dates/indianapolis-in-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>7/30 | Bonner Springs, KS</strong></span>
              <a href="http://www.ticketmaster.com/event/06004D79D6EF7A55/?camefrom=CFC_MMTHINC_WARPEDFBEVENT" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>8/01 | SLC, UT</strong></span>
              <a href="http://vanswarpedtour.com/dates/salt-lake-city-ut-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>8/02 | Denver, CO</strong></span>
              <a href="http://vanswarpedtour.com/dates/denver-co-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>8/05 | San Diego, CA</strong></span>
              <a href="http://vanswarpedtour.com/dates/san-diego-ca-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>8/07 | Portland, OR</strong></span>
              <a href="http://vanswarpedtour.com/dates/portland-or-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

          <li>
            <div>
              <span class="date"><strong>8/08 | Auburn, WA</strong></span>
              <a href="http://vanswarpedtour.com/dates/seattle-wa-3" target="_blank">
                <button class="ticket btn btn-default">TICKETS</button>
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

