<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="wooddivider2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-lg-6">
        <div class="col-lg-12 text-center"><img class="full-w video-title" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/featuredvideo.png"></div>
        <div class="col-lg-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLsBWlr67U5NuWwUvUjReor61_nqZ-CcyA&rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="col-lg-12 text-center"><img class="full-w video-title" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/freedownload.png"></div>
        <div class="col-lg-12 text-center">
          <img class="full-w sampler" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/phase2/Sampler_Cover_Final-compressed.jpg">
          <%= partial "partials/gform" %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
