---
title: Welcome to the Fearless Summer
---

<div class="head-center">
  <div class="head-wrap">
    <div class="border">
      <div class="upanddown float-left clear-fix"></div>
      <div class="upanddown float-right clear-fix"></div>
    </div>
    <div class="container header">
      <div class="row">
        <div class="twobyfour"></div>
      </div>
      <div class="wood">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <img class="full-w welcome" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/welcome.png" onLoad="borderHeight();">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/fearlesssummer.png" onLoad="borderHeight();">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <img class="full-w featuring" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/featuring.png">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <img class="ptv full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/ptv.png" onLoad="borderHeight();">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <img class="abr full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/abr.png" onLoad="borderHeight();">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-5 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center">
            <img class="btf full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/btf.png" onLoad="borderHeight();">
          </div>
          <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
            <img class="aii full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/aii.png" onLoad="borderHeight();">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twobyfour"></div>
      </div>
    </div>
  </div>
</div>
<div class="illustration">
  <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlesssummer16/justguys.png">
</div>
<div class="wooddivider"></div>
<div class="repeat"></div>
